extends ../layout
include ./_imports/import

//- block styles
//-   each dependence in self.htmlWebpackPlugin.options.dependencies
//-     link(href=`components/${dependence}/${dependence}.css`, rel='stylesheet')

//- block scripts
//-   each dependence in self.htmlWebpackPlugin.options.dependencies
//-     script(type="text/javascript" src=`components/${dependence}/${dependence}.js`)

block content
  #dashboard-pg 
    +top-bar

    +sidebar

    +nav(['Популярность', 'Емкость рынка', 'Представленность', 'Цены'])

    .filter

      +select('goods', 'Товар', ['Все товары', 'Лейка для душа AM.PM Awe Extra F0215200', 'Лейка для душа AM.PM Bliss F0253100', 'Лейка для душа AM.PM Spirit F0270064', 'Лейка для душа AM.PM Gem F0290000', 'Лейка для душа AM.PM Like F0280000', 'Лейка для душа AM.PM Spirit 2.0 F0270A000', 'Лейка для душа AM.PM Awe Extra F0215200', 'Лейка для душа AM.PM Bliss F0253100', 'Лейка для душа AM.PM Spirit F0270064', 'Лейка для душа AM.PM Gem F0290000', 'Лейка для душа AM.PM Like F0280000', 'Лейка для душа AM.PM Spirit 2.0 F0270A000', 'Лейка для душа AM.PM Awe Extra F0215200', 'Лейка для душа AM.PM Bliss F0253100', 'Лейка для душа AM.PM Spirit F0270064', 'Лейка для душа AM.PM Gem F0290000', 'Лейка для душа AM.PM Like F0280000', 'Лейка для душа AM.PM Spirit 2.0 F0270A000'], true)
      
      +select('score', 'Оценка', ['Все оценки'], true)
      
      +checkbox-select('only-processed', 'Только обработанные отзывы')
    
      +checkbox-select('only-search', 'Только из поисковой выдачи')

      +btn('Показать')
      

    .container
      +reviews('dashboard')

      - 
        var items = [
          {
            type: 'Отзывы',
            value: '1 549',
            isNegative: false
          },
          {
            type: 'Негатив',
            value: '23.63%',
            isNegative: true
          },
          {
            type: 'Оценка',
            value: '4.14',
            isNegative: false
          }
        ]

      +indicators-section(items, 'dashboard')

      - 
        var items = [
          {
            type: 'Отзывы',
            value: '1 549',
            isNegative: false,
            gradient: 'blue'
          },
          {
            type: 'Негатив',
            value: '23.63%',
            isNegative: true,
            gradient: 'red'
          },
          {
            type: 'Оценка',
            value: '4.14',
            isNegative: false,
            gradient: 'green'
          }
        ]
        
      +indicators-section(items, 'dashboard')




      //- +area-chart

      //- +pie-chart


    //- +modal



