extends ../layout
include ./_imports/import

block content

  - const data = require('./data.json')

  #platforms-pg
    +top-bar

    +sidebar(3)

    +nav(3, true)     

    .container

      +table(data.tableData, 'platforms-pg')
    

