extends ../layout
include ./_imports/import

block content

  - const data = require('./data.json')

  #platforms-pg
    +top-bar('platforms-pg')

    +sidebar(3, 'platforms-pg')

    +nav(3, true, 'platforms-pg')     

    .container

      +table(data.tableData, 'platforms-pg')
    

