extends ../layout
include ./_imports/import

block content

  - const data = require('./data.json')

  #search-results-pg
    +top-bar

    +sidebar(2)

    +nav(2, true)

    .filter
      
      +select('search-bot', 'Поиск', ['Все', 'Все', 'Яндекс', 'Google'])

      +btn('Показать')

    .container

      +indicators-section(data.indicatorsData, 'search-results-pg')

      +table(data.tableData, 'search-results-pg')
    

