extends ../layout
include ./_imports/import

block content
  #search-results-pg
    +top-bar

    +sidebar('search-results')

    - 
      var links = [
        {
          label: 'Общая',
          href: 'reputation.html'
        },
        {
          label: 'Список отзывов',
          href: 'review-list.html'
        },
        {
          label: 'Поисковая выдача',
          href: 'search-results.html',
          active: true
        },
        {
          label: 'Площадки',
          href: 'platforms.html'
        },
        {
          label: 'Ассортимент',
          href: 'assortment.html'
        },
        {
          label: 'Конкуренты',
          href: ''
        },
      ]

    +nav(links)

    .filter
      
      +select('search-bot', 'Поиск', ['Все', 'Все', 'Яндекс', 'Google'])
     
    


    .container

      - 
        var items = [
          {
            type: 'Отзывы',
            value: '1 549',
            isNegative: false
          },
          {
            type: 'Негатив',
            value: '23.63%',
            isNegative: true
          },
          {
            type: 'Оценка',
            value: '4.14',
            isNegative: false
          }
        ]

      +indicators-section(items, 'search-results-pg')

      -
        var data = {
          headers: ['Запрос', 'Количество отзывов', 'Средняя оценка', 'Процент негатива'],
          self: ['Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%', 'Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%','Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%','Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%','Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%','Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%','Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%','Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%','Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%','Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%','Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%','Унитаз напольный AM.PM Joy отзывы', '17', '4.76', '5.88%', 'Унитаз-компакт AM.PM Sense L C748607SC с сиденьем микролифт отзывы', '7',	'3.71',	'42.86%', 'Душевой уголок AM.PM Bliss Solo Slide 90 L отзывы',	'6',	'5',	'0%']
        }

      +table(data, 'search-results-pg')
    

