mixin select-input(type, label, placeholder, mixes)
  include ./_imports/import

  .select-input(class=(mixes) && `${mixes}__select` data-type=`${type}`)
    p.select-input__label= label
    input.select-input__self(type='text' placeholder=(placeholder) && `${placeholder}`)
      

