extends ../layout
include ./_imports/import

block content

  - const data = require('./data.json')

  #reputation-pg
    +top-bar

    +sidebar(0)

    +nav(0, true)

    .filter
      
      +select('date-sort', 'Выдача', ['По месяцам', 'По месяцам', 'По неделям', 'По дням'])
      
      +checkbox-select('increasing', 'Нарастающий')
    
      +checkbox-select('all', 'Все')

      +date-select

      +btn('Показать')

    .container
    
      +indicators-section(data.indicatorsData, 'reputation-pg')

      +area-chart('reputation-pg')

      +table(data.tableData, 'reputation-pg')
