@import './_imports/import';

.btn-export {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 34px;
  color: #554b60;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  text-transform: none;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: -2px 2px 4px rgba(128, 152, 213, 0.074983);
}

.btn-export__icon {
  margin-right: 10px;
}
