include ~@/components/top-bar/top-bar
include ~@/components/sidebar/sidebar
include ~@/components/nav/nav
include ~@/components/select/select
include ~@/components/btn-add/btn-add
include ~@/components/indicators-section/indicators-section
include ~@/components/area-chart/area-chart
include ~@/components/table/table
include ~@/components/checkbox-select/checkbox-select
include ~@/components/date-select/date-select
include ~@/components/btn/btn
