mixin table(data, mixes)
  include ./_imports/import
              

  .table(class=(mixes) && `${mixes}__table`)
    table.table__self
      thead.table__head
        tr
          each header in data.headers
            th= header

      tbody.table__body
        - var idx = 0;
        each header in data.headers
          - var n = 0;
          tr
            while n++ < data.headers.length
              td= data.self[idx++]
              
    footer.table__footer
      +btn('Экспортировать в xlsx', 'table', 'btn--outline-green')
      +btn('Экспортировать в csv', 'table', 'btn--outline-green')