extends ../layout
include ./_imports/import

block content

  - const data = require('./data.json')

  #review-list-pg
    +top-bar

    +sidebar(1)

    +nav(1, true)

    .filter
      
      +select('platforms', 'Площадка', data.platforms, false, false, true)
     
      +select('goods', 'Товар', data.goods, true)
      
      +select('rating', 'Рейтинг', ['Не выбрано', 1, 2, 3, 4, 5], false, true)


      +date-select

    .container

      +reviews('review-list')
    

