extends ../layout
include ./_imports/import

block content

  - const data = require('./data.json')

  #assortment-pg
    +top-bar

    +sidebar(4)

    +nav(4, true)     

    .container

      +table(data.tableData, 'assortment-pg')
    

