extends ../layout
include ./_imports/import

block content

  - const data = require('./data.json')

  #assortment-pg
    +top-bar

    +sidebar(4)

    +nav(4, true, 'assortment-pg')     

    .filter
      +select-input('name', 'Название', 'Название товара')

      +select('category', 'Категория', data.categorySelect)

      +select('assignment', 'Назначение', data.assignmentSelect)

      +btn('Показать')

    .container

      +table(data.tableData, 'assortment-pg')
    

